{% extends 'vacancy/base.html' %}
{% load static %}

{% block content %}

{% if figure_vac %}
{{ figure_vac|safe }}
{% endif %}

<hr>

{% if figure_temp %}
{{ figure_temp|safe }}
{% endif %}

<!--<hr>-->

<!--{% if figure_flows_delta %}-->
<!--{{ figure_flows_delta|safe }}-->
<!--{% endif %}-->

<hr>

{% if figure_matrix %}
{{ figure_matrix|safe }}
{% endif %}

<hr>

{% if figure_dis %}
{{ figure_dis|safe }}
{% endif %}

<hr>

{% if figure_gr %}
{{ figure_gr|safe }}
{% endif %}

<hr>


{% if figure_tw %}
{{ figure_tw|safe }}
{% endif %}

<hr>

{% if figure_surf %}
{{ figure_surf|safe }}
{% endif %}

<hr>

<!--{% if figure_plot_dis_delta %}-->
<!--{{ figure_plot_dis_delta|safe }}-->
<!--{% endif %}-->

<!--<hr>-->

<!--{% if figure_flows %}-->
<!--{{ figure_flows|safe }}-->
<!--{% endif %}-->

<!--<hr>-->

<!--{% if figure_probability %}-->
<!--{{ figure_probability|safe }}-->
<!--{% endif %}-->

<!--<hr>-->

<!--{% if figure_b_factor_mig %}-->
<!--{{ figure_b_factor_mig|safe }}-->
<!--{% endif %}-->
<!--<br>-->

<!--{% if figure_clean_delta %}-->
<!--{{ figure_clean_delta|safe }}-->
<!--{% endif %}-->

<br>

<!--<a href="{#% url 'download-xlsx' results %#}">Скачать таблицу</a>-->

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Время</th>
            <th>T</th>
            <th>Дислокации</th>
<!--            <th>Дислокации+</th>-->
<!--            <th>Дислокации-</th>-->
<!--            <th>Дельта без Av</th>-->
            <th>Зерна</th>
            <th>Двойники</th>
            <th>Поверхность</th>
            <th>В матрице</th>
<!--            <th>exp(-Emv/kT)</th>-->
        </tr>
    </thead>
    {% for row in results %}
    <tr>
        {% for key, value in row.items %}
            {% if key == "T" %}
                <td>{{ value|stringformat:".2f" }}</td>
            {% elif key == "time_range" %}
                <td>{{ value }}</td>
            {% else %}
                {% if value|length > 0 %}
                <td>{{ value.0|stringformat:".4e" }}<br>
                    <span class={% if value.1 > 0 %}"text-success">(+{% else %} "text-danger">( {% endif %}{{ value.1|stringformat:".2e" }})</span>
                </td>
                {% else %}
                    <td>{{ value|stringformat:".4e" }}</td>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}